<!doctype html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<body>
<footer class="site-footer" th:fragment="siteFooter">
    <a class="footer-brand" th:href="@{/}"><img class="brand-mark" th:src="@{/images/brand/logo-mark.svg}" alt="" width="27" height="27"> Spazio Test</a>
    <nav class="footer-links" aria-label="Informazioni sul sito">
        <a th:href="@{/approfondimenti}">Approfondimenti</a>
        <a th:href="@{/metodo-e-fonti}">Metodo e fonti</a>
        <a th:href="@{/il-progetto}">Il progetto</a>
        <a th:href="@{/privacy-e-cookie}">Privacy e cookie</a>
        <a th:href="@{/}">Tutti i test</a>
    </nav>
    <p>Questionari e guide informative per l'auto-osservazione. I contenuti non costituiscono diagnosi o valutazioni cliniche.</p>
</footer>
</body>
</html>
