<!doctype html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<body>
<a class="social-link" th:fragment="instagramLink" href="https://www.instagram.com/spazio.test/"
   target="_blank" rel="noopener noreferrer"
   aria-label="Visita Spazio Test su Instagram (si apre in una nuova scheda)"
   title="Spazio Test su Instagram">
    <img th:src="@{/images/brand/instagram-spazio-test.png}" src="/images/brand/instagram-spazio-test.png"
         alt="" width="24" height="24">
</a>
</body>
</html>
